@page
@model COVID.App.FrontEnd.pages.DetalleModel
@{
}
<h1>Hoja de Detalles Profesor</h1>
@foreach(var profesor in Model.Profesor)
{
    <table class="table">
        <tr>
            <td><b>Nombre:</b></td>
            <td>@profesor.nombre</td>
        </tr>
        <tr>
            <td><b>Apellidos:</b></td>
            <td>@profesor.apellido</td>
        </tr>
        <tr>
            <td><b>Edad:</b></td>
            <td>@profesor.edad</td>
        </tr>
        <tr>
             <td><b>Estado COVID:</b></td>
             <td>@profesor.estado</td>
        </tr>  
    </table>
     <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
}